NODE_ENV=development
PORT=3041
HOST=0.0.0.0
APP_URL=http://localhost:3042
API_URL=http://localhost:3041
CORS_ORIGIN=http://localhost:3042

# PostgreSQL Connection String
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/attendance_ai_db?schema=public"

# Redis
REDIS_URL="redis://127.0.0.1:6379/0"

# JWT Auth
JWT_SECRET="super_secret_jwt_access_token_key_change_in_production_min_32_chars"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_SECRET="super_secret_jwt_refresh_token_key_change_in_production_min_32_chars"
JWT_REFRESH_EXPIRES_IN="7d"

# Storage
STORAGE_PATH="./storage/uploads"
